/* 登录界面 */
*{
	margin:0;
	padding:0;
	font-family:"STKaiti" !important;
}
.content {
	width:90%;
	margin: auto;
}
 .content .welcom{
	width:100%;
	height:40%;
}
.content .welcom img{
	padding-top: 10px;
	width:100%;
	margin:auto;
	height:100%;
}
.buttonall{
	text-align: center;

}
.header{
	background-color: #025545;
}
.header .ui-btn-icon-left::after, 
.ui-btn-icon-right::after, 
.ui-btn-icon-top::after, 
.ui-btn-icon-bottom::after, 
.ui-btn-icon-notext::after {
 	background-color: #025545;
      
}
.ui-bar-a, 
.ui-page-theme-a .ui-bar-inherit, 
html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, 
html body .ui-group-theme-a .ui-bar-inherit {
	background-color: #025545;
}
. header .ui-page-theme-a .ui-btn, 
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn, 
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a, 
.ui-page-theme-a .ui-btn:visited, 
html .ui-bar-a .ui-btn:visited, 
html .ui-body-a .ui-btn:visited, 
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
	background-color: #025545;
}

.header h1{
	color:#fff;
	text-shadow:none;
}

/* 登录界面完成 */

.poppay{
	padding:20px;
}

#page8 ul li{
	padding:10px;
	list-style: none;
	border-bottom: 2px solid #ddd;
	/* width:50%; */
}
/* #page12 ul li table{
	width:50%;
} */
/* #page12 ul li th{
	width:15%;
}
#page12 ul li td{
	width:25%;
} */
#page12 .ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head+body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head+body .ui-btn.ui-btn-a:visited {
	display:none;
}


#page8 li{
	list-style: none;
}

#page11 table{
	text-align: center;
	width:98%;
	margin-top: 20px;
	height: 90%;
	background-color: #EDFDB6;
}
#page11 .access{
	text-align: center;
	margin-top: 20px;
	background-color:#EDFDB6;

}
#page13 img{
	
	width:100%;
	
}
#page13 .num{
	margin-top: 20px;
}